body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white; /* Alterar o fundo da página para branco */
}

canvas {
    background-color: white; /* Alterar o fundo do canvas para branco */
}

#controls {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#controls div {
    display: flex;
    gap: 10px;
}

#controls button {
    width: 50px;
    height: 50px;
    font-size: 24px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#controls button:active {
    background-color: #aaa;
}

#fullscreen-controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#fullscreen-controls button {
    width: 50px;
    height: 50px;
    font-size: 24px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#fullscreen-controls button:active {
    background-color: #aaa;
}
