/* Estilos gerais para o layout horizontal */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

#game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

#score, #high-scores, #reset-button {
  margin: 10px;
}

#arrows {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* Ajustes específicos para a orientação horizontal */
@media (orientation: landscape) {
  #game-container {
    flex-direction: row;
  }

  #score, #high-scores, #reset-button {
    flex: 1;
  }

  #arrows {
    flex: 2;
  }
}
